#container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#select-block {
    width: 350px;
}
select {
    overflow-x:auto;
}

#my_button {
    margin: 0 auto;
    display: block;
    width: 200px;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 450px;
}