{% extends 'base.html' %}

{% block title %}Документ{% endblock %}

{% block body %}
    <div id="header">
        <h1>
            <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg">Статистика</a>
            <a href="{{ url_for('documents_page') }}" class="btn btn-primary btn-lg">Поиск Дела</a><br>
        </h1>
    </div>

    <div id="rightsidebar">
        <ul class="nav nav-pills nav-fill flex-column">
            {% for doc in documents %}
            <li class="nav-item">
                {% if doc.id == cur_doc.id and doc.instance == 1 %}
                    <a class="nav-link active" aria-current="page" href="{{ url_for('document_page', doc_id=doc.id.replace('/', '_')) }}">
                        Первая инстанция
                    </a>
                {% endif %}

                {% if doc.id == cur_doc.id and doc.instance == 2 %}
                    <a class="nav-link active" aria-current="page" href="{{ url_for('document_page', doc_id=doc.id.replace('/', '_')) }}">
                        Апелляция
                    </a>
                {% endif %}

                {% if doc.id == cur_doc.id and doc.instance == 3 %}
                    <a class="nav-link active" aria-current="page" href="{{ url_for('document_page', doc_id=doc.id.replace('/', '_')) }}">
                        Кассация
                    </a>
                {% endif %}

                {% if doc.id == cur_doc.id and doc.instance == 4 %}
                    <a class="nav-link active" aria-current="page" href="{{ url_for('document_page', doc_id=doc.id.replace('/', '_')) }}">
                        Вторая кассация/Надзор
                    </a>
                {% endif %}

                {% if doc.id != cur_doc.id and doc.instance == 1 %}
                    <a class="nav-link" aria-current="page" href="{{ url_for('document_page', doc_id=doc.id.replace('/', '_')) }}">
                        Первая инстанция
                    </a>
                {% endif %}

                {% if doc.id != cur_doc.id and doc.instance == 2 %}
                    <a class="nav-link" aria-current="page" href="{{ url_for('document_page', doc_id=doc.id.replace('/', '_')) }}">
                        Апелляция
                    </a>
                {% endif %}

                {% if doc.id != cur_doc.id and doc.instance == 3 %}
                    <a class="nav-link" aria-current="page" href="{{ url_for('document_page', doc_id=doc.id.replace('/', '_')) }}">
                        Кассация
                    </a>
                {% endif %}

                {% if doc.id != cur_doc.id and doc.instance == 4 %}
                <a class="nav-link" aria-current="page" href="{{ url_for('document_page', doc_id=doc.id.replace('/', '_')) }}">
                    Вторая кассация/Надзор
                </a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>

        <p><b>Категория дела: </b>{{ category.name }}</p>
        <p><b>Требования по делу: </b>{{ cur_doc.req_detail }}</p>
        <p><b>Обстоятельства по делу: </b>{{ cur_doc.cond_detail }}</p>
        <p><b>Решение по делу: </b>{{ deal_solution }}</p>
        <p><b>Решение по данной инстанции: </b>{{ doc_solution }}</p>
    </div>

    <div id="leftcontent">
        {{ text }}
    </div>
{% endblock %}