<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Документы</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        
        <div id="header"><h1>
            <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg">Статистика</a>
            <a href="documentList.html" class="btn btn-primary btn-lg">Поиск Дела</a><br>
        </h1></div>

        <div id="sidebar">
            <form method="post" action="{{ url_for('documents_page') }}">
                <div id="select-block">
                    <p><b>Категория</b></p>
                    <select id="select-category" name="cat_id" class="form-select" size="15" aria-label="size 15 select example">
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select><br>
                </div>

                <div id="select-block">
                    <p><b>Требование</b></p>
                    <select id="select-req" name="req_id" class="form-select" size="15" aria-label="size 15 select example">
                        {% for req in requirements %}
                            <option value="{{ req.id }}">{{ req.name }}</option>
                        {% endfor %}
                    </select><br>
                </div>

                <div id="select-block">
                    <p><b>Обстоятельства</b></p>
                    <select id="select-cond" name="cond_id" class="form-select" size="15" aria-label="size 15 select example">
                        {% for cond in conditions %}
                            <option value="{{ cond.id }}">{{ cond.name }}</option>
                        {% endfor %}
                    </select><br>
                </div>

                <div id="select-block">
                    <p><b>Решение</b></p>
                    <select id="select-solution" class="form-select" size="3" aria-label="size 3 select example">
                        {% for solution in solutions %}
                            <option value="{{ solution.id }}">{{ solution.name.capitalize() }}</option>
                        {% endfor %}
                    </select><br>
                </div>

                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button id="searchButton" type="submit" class="btn btn-success btn-lg">Найти</button>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-info btn-lg">Статистика</button><br>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="Third group">
                        <button type="button" class="btn btn-secondary btn-lg"> Очистить поля </button><br>
                    </div>
                </div>
            </form>
        </div>

        <div id="content">
            <div class= "container">
                <ul class="list-group">
                    {% for doc in docs %}
                        <li>{{ doc.id }}</li>
                        <li class='list-group-item'>
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">
                                    <a href="{{ url_for('document_page', doc_id=doc.id.replace('/', '_')) }}">
                                        {{ doc.id }}
                                    </a>
                                </h5>
                            </div>
                            <p class="mb-1">{{ doc.req_detail }}</p>
                            <p class="mb-1">{{ doc.cond_detail }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </body>
</html>