{% extends 'base.html' %}

{% block title %}РискАналитик{% endblock %}
{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
{% endblock %}

{% block body %}
    <div id="container">
        <div id="select-block">
            <p><b>Категория</b></p>
            <select id="select-category" class="form-select" size="15" aria-label="size 15 select example" multiple>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select><br>
            <button id="clear_selected_category" class="btn btn-info index">
                Очистить выбор
            </button>
        </div>

        <div id="select-block">
            <p><b>Требование</b></p>
            <select id="select-req" class="form-select" size="15" aria-label="size 15 select example" multiple>
                {% for req in requirements %}
                    <option value="{{ req.id }}">{{ req.name }}</option>
                {% endfor %}
            </select><br>
            <button class="btn btn-info index" onclick="$('#select-req').prop('selectedIndex', -1);">
                Очистить выбор
            </button>
        </div>

        <div id="select-block">
            <p><b>Обстоятельства</b></p>
            <select id="select-cond" class="form-select" size="15" aria-label="size 15 select example" multiple>
                {% for cond in conditions %}
                    <option value="{{ cond.id }}">{{ cond.name }}</option>
                {% endfor %}
            </select><br>
            <button class="btn btn-info index" onclick="$('#select-cond').prop('selectedIndex', -1);">
                Очистить выбор
            </button>
        </div>
    </div>
    <br>
    <button id="show_statistics_button" class="btn btn-secondary index">Посмотреть статистику</button><br>

    <canvas id="statusChart"></canvas>
    <script type="text/javascript" src="{{ url_for('static', filename='js/statistics_script.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/fill_selects.js') }}"></script>
{% endblock %}